body {
	background-color: #D80088;
}


#tituloescritorio p {
	font-size: 20px;
	color: #3B195E;
}


#botoncito {
	background: #3B195E;
	color:white;
}

.col-xs-12  {
	background-color:  #AA076B; 
	height: auto; 
    background: -webkit-linear-gradient(to left, #61045F, #AA076B); 
    background: linear-gradient(to left, #61045F, #AA076B); 
}